.git
.github
.terraform
*.tfstate*
*.tfvars
backend.hcl*

**/.DS_Store
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ruff_cache
**/.venv
**/venv
**/node_modules
**/.next

.env
.env.*
!**/.env.example

data/raw
data/*.csv
data/*.xlsx
*.donor.csv
export_empress_of_japan.csv

dev-log
docs
frontend
infra
